VITE_SUPABASE_URL=https://pzayxiqsrgnanavmpyyq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6YXl4aXFzcmduYW5hdm1weXlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0OTMyNDcsImV4cCI6MjA5MDA2OTI0N30.BTscs7thvNr00Bb_Qct5S7klNKz8ZzRu__RSy7QaSxs
